/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    height: 20px;
    width: 20px;
    background: #93ba7d;
    margin-left: 10px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #c5d9b4;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media only screen and (max-width: 700px) {

    .tbl-responsive table,
    .tbl-responsive thead,
    .tbl-responsive tbody,
    .tbl-responsive tr,
    .tbl-responsive th,
    .tbl-responsive td {
        display: block;
    }

    .tbl-responsive thead {
        display: none;
    }

    .tbl-responsive td {
        padding-left: 150px;
        position: relative;
        margin-top: -1px;
        background: #FFF;
    }

    .tbl-responsive td:nth-child(odd) {
        background-color: #eee;
    }

    .tbl-responsive td::before {
        padding: 10px;
        content: attr(data-label);
        position: absolute;
        top: 0;
        left: 0;
        width: 130px;
        bottom: 0;
        background-color: #085004;
        color: #FFF;
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    .tbl-responsive tr {
        margin-bottom: 1rem;
        border-bottom: 1px solid lightgrey;
    }

    .tbl-responsive th + td {
        padding-left: 10px;
    }

}