<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container bg-no-repeat bg-cover font-sans" style="height: 500px; background-image: path('http://15.235.65.28:81/sigforet/foret3.png'); background-size: initial">
    <table align="center">
        <tr>
            <td class="w-[600px] max-w-full">
                <table class="w-full">
                    <tr>
                        <td class="p-12 sm:py-8 sm:px-6 text-center">
                            <!--<a href="https://maizzle.com">
                                <img src="../../public/assets/images/logo_snvlt.png" width="70" alt="">
                            </a>-->
                        </td>
                    </tr>
                    <tr>
                        <td
                                class="bg-top bg-no-repeat bg-cover rounded text-left"
                        >
                            <x-v-fill image="http://15.235.65.28:81/sigforet/foret3.png">
                                <x-spacer class="leading-16 sm:leading-8" />

                                <table class="w-full mt-5 my-auto mx-auto" style="margin-top: 25%; margin-left:50%;">
                                    <tr>
                                        <td class="w-12 sm:w-6"></td>
                                        <td>
                                            <h1 class="m-0 mb-4 text-4xl sm:text-3xl text-white sm:leading-10">
                                                {{nom}} {{prenom}} {{job}}
                                            </h1>

                                            <p class="m-0 text-white text-lg leading-6">
                                                {{presentation}}
                                            </p>

                                            <x-spacer class="leading-16 sm:leading-8" />

                                            <x-button href="https://example.com">
                                                Read more &rarr;
                                            </x-button>
                                        </td>
                                        <td class="w-12 sm:w-6"></td>
                                    </tr>
                                </table>

                                <x-spacer class="leading-16 sm:leading-8" />
                            </x-v-fill>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
